<div class="col-lg-12 text-center v-center">
	<%= render 'shared/profile_pic' %>
	<h1>
	<%= @user.username %>'s Profile
	</h1>
	<hr>
	<center>
	<table>
	<tr><td class="lead">Name : </td><td><%= @user.username %></td></tr>
	<tr><td class="lead">Location : </td><td><%= @user.location %></td></tr>
	<tr><td class="lead">email : </td><td><%= @user.email %></td></tr>
	<tr><%= render 'shared/stats' %></tr>
	</table>
	<% if user_signed_in? %>
		<div class="lead">
			<%= link_to "Albums", user_albums_path(@user.id), {:style=>'color:#DDCCEE;' } %>
			<%= render 'follow_form' %>
			<%= render 'shared/friend' %>
		</div>
	<% end %>
	</center>
</div>